source_if_exists () {
    if test -r "$1"; then
        source "$1"
    fi
}

# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
source_if_exists "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"

# Oh-My-Zsh initialization
export ZSH="$DOTFILES/zsh/.oh-my-zsh"

plugins=(git vi-mode aliases macos zsh-autosuggestions fzf z)
# Bundles from the default repo (robbyrussell's oh-my-zsh).

ZSH_CUSTOM="$DOTFILES/zsh/custom"
# See https://githubcom/ohmyzsh/ohmyzsh/wiki/Themes
ZSH_THEME="powerlevel10k/powerlevel10k"

source $ZSH/oh-my-zsh.sh

source_if_exists $HOME/.env.sh
source_if_exists <(fzf --zsh)
source_if_exists /usr/local/etc/profile.d/z.sh
source_if_exists /opt/homebrew/etc/profile.d/z.sh
source_if_exists $HOMEBREW_PREFIX/opt/chruby/share/chruby/chruby.sh # Or run `brew info chruby` to find out installed directory

precmd() {
    source $DOTFILES/zsh/aliases.zsh
}

MODE_INDICATOR="%F{white}+%f"
INSERT_MODE_INDICATOR="%F{yellow}i%f"
NORMAL_MODE_INDICATOR="%F{yellow}n%f"

export VISUAL=nvim
export EDITOR=nvim
export MANPAGER="nvim +Man!"

# better truncating for psql
export PAGER="less -S"

# Shell wrapper
# We suggest using this y shell wrapper that provides the ability to change the current working directory when exiting Yazi.
# Then use y instead of yazi to start, and press q to quit, you'll see the CWD changed. Sometimes, you don't want to change, press Q to quit.

function y() {
	local tmp="$(mktemp -t "yazi-cwd.XXXXXX")"
	yazi "$@" --cwd-file="$tmp"
	if cwd="$(cat -- "$tmp")" && [ -n "$cwd" ] && [ "$cwd" != "$PWD" ]; then
		builtin cd -- "$cwd"
	fi
	rm -f -- "$tmp"
}

# can be run when path has changed
# should be commented out, because it makes starting a new session slow
# ~/Projects/dotfiles/zsh/custom/update-kitty.sh

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
source_if_exists ~/.p10k.zsh

eval "$(zoxide init zsh)"

# fnm - use-on-cd feature for interactive shells
eval "$(fnm env --use-on-cd --shell zsh)"
